{:paths ["."]
 :deps {com.cognitect.aws/api       {:mvn/version "0.8.710-beta01"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.772"}
        com.cognitect.aws/s3        {:mvn/version "869.2.1687.0"}}}